<fieldset>
  <legend>
    <button type="button" (click)="onAddSection()">+ Section</button>
  </legend>

  @for (section of inputForm; track section; let s = $index) {
    <fieldset>
      <legend>
        Section {{ s + 1 }}
        <button type="button" (click)="onRemoveSection(s)" [disabled]="inputForm.length === 1">
          X
        </button>
      </legend>

      <button type="button" (click)="onAddInput(s)">+ Input</button>

      @for (input of section; track input; let i = $index) {
        <div>
          {{ i + 1 }}.

          <input type="number" [formField]="input" />

          <button type="button" (click)="onRemoveInput(s, i)" [disabled]="section.length === 1">
            X
          </button>
        </div>
      }

      <p><b>Result:</b> {{ sectionTotal(sectionModel()[s]) }}</p>
    </fieldset>
  }
</fieldset>
