<fieldset [disabled]="form().disabled()">
  <div>
    <label>
      <b>Student ID</b>
      <input type="text" [formField]="form.studentId" />
    </label>
    <br />

    <label>
      <b>Firstname</b>
      <input type="text" [formField]="form.firstname" />
    </label>
    <br />

    <label>
      <b>Lastname</b>
      <input type="text" [formField]="form.lastname" />
    </label>
    <br />

    <label>
      <b>Age</b>
      <input type="number" [formField]="form.age" />
    </label>
    <br />

    <label>
      <b>autoiography</b>
      <textarea [formField]="form.autobiography"></textarea>
    </label>
    <br />
  </div>
  <fieldset [disabled]="form.friends().disabled()">
    <legend>
      Friends ({{ form.friends().metadata(friendcountkey)!() }})
      <button type="button" (click)="addFriend()">+</button>
    </legend>
    <div>
      @for (friend of form.friends; track friend) {
        <div>
          <button type="button" [disabled]="$first" (click)="moveFriend($index, -1)">^</button>
          <button type="button" [disabled]="$last" (click)="moveFriend($index, +1)">V</button>
          <label>
            <b>Friends {{ $index + 1 }}</b>
            <input type="text" [formField]="friend" />
          </label>
          <button type="button" [disabled]="$count === 1" (click)="removeFriend($index)">X</button>
        </div>
        <div>
          {{friend().metadata(friendUcNameKey)!()}}
        </div>
      }
    </div>
  </fieldset>
</fieldset>
